$adv-main-scaler: 0.5;
#adv {
  width: 100vw;
  height: 100vh;
  min-height: 800px;
  background: linear-gradient(158.17deg, rgba(179, 185, 255, 0.36) 15.74%, rgba(113, 124, 237, 0.36) 93.63%), url('../img/background.svg');
  //filter: blur(7px);
  //-webkit-filter: blur(7px);
  background-size: cover, cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-item {
  position: fixed;
  display: none;
}

.c1 {
  border-radius: 77% 23% 57% 43% / 23% 45% 55% 77% ;
  background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
  width: RelativeUnitsComplex(1237, 0.5, 0.5);
  height: RelativeUnitsComplex(1237, 0.5, 0.5);
  top: 1%;
  left: 1%;
}

.c2 {
  border-radius: 18% 82% 48% 52% / 23% 70% 30% 77% ;
  background: linear-gradient(90deg, #E0C3FC 0%, #8EC5FC 100%);
  width: RelativeUnitsComplex(1037, 0.5, 0.5);
  height: RelativeUnitsComplex(937, 0.5, 0.5);
  top: 1%;
  left: 33%;
}

.c3 {
  border-radius: 83% 17% 65% 35% / 62% 27% 73% 38% ;
  background: linear-gradient(90deg, #FBC2EB 0%, #A6C1EE 110.58%);
  width: RelativeUnitsComplex(1037, 0.5, 0.5);
  height: RelativeUnitsComplex(1337, 0.5, 0.5);
  top: 1%;
  left: 66%;
}

.c4 {
  border-radius: 18% 82% 51% 49% / 14% 27% 73% 86% ;
  background: linear-gradient(90deg, #FBC2EB -17.79%, #A6C1EE 100%);
  width: RelativeUnitsComplex(1037, 0.5, 0.5);
  height: RelativeUnitsComplex(1337, 0.5, 0.5);
  top: 50%;
  left: 1%;
}

.c5 {
  border-radius: 18% 82% 51% 49% / 14% 27% 73% 86% ;
  background: linear-gradient(90deg, #FBC2EB -17.79%, #A6C1EE 100%);
  width: RelativeUnitsComplex(1037, 0.5, 0.5);
  height: RelativeUnitsComplex(1337, 0.5, 0.5);
  top: 50%;
  left: 33%;
}

.c6 {
  border-radius: 18% 82% 51% 49% / 14% 27% 73% 86% ;
  background: linear-gradient(90deg, #FBC2EB -17.79%, #A6C1EE 100%);
  width: RelativeUnitsComplex(1037, 0.5, 0.5);
  height: RelativeUnitsComplex(1337, 0.5, 0.5);
  top: 50%;
  left: 66%;
}

.adv__item-wrap {
  @include width(1100, 0.8);
  max-width: 90vw;
}

.adv__item {
  @include width(330, $adv-main-scaler);
  @include min-height(330, $adv-main-scaler);
  @include max-height(330, $adv-main-scaler);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: RelativeUnits(60, $adv-main-scaler) RelativeUnits(60, $adv-main-scaler);
  text-align: center;
  background: rgba(255, 255, 255, 0.38);
  border-radius: RelativeUnits(10, $adv-main-scaler);
  margin: 20px auto;

  .toggler-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      @include width(70, $adv-main-scaler);
      height: RelativeUnits(28, $adv-main-scaler);
      background: #ECECEC;
      @include border-radius(28);
      overflow: hidden;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    }
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ECECEC;
      -webkit-transition: .4s;
      transition: .4s;
      &:before {
        position: absolute;
        content: "";
        @include width(28.5, $adv-main-scaler);
        height: RelativeUnits(28.5, $adv-main-scaler);
        @include border-radius(28.5);
        left: 0;
        bottom: 0;
        background-color: #D81B60;

        -webkit-transition: .4s;
        transition: .4s;
      }
    }

    input:checked + .slider:before {
      background-color: #26C6DA;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(RelativeUnits(42, $adv-main-scaler));
      -ms-transform: translateX(RelativeUnits(42, $adv-main-scaler));
      transform: translateX(RelativeUnits(42, $adv-main-scaler));
    }
  }

  //backdrop-filter: blur(45px);
}
