$teaser-main-scaler: 0.5;
.teaser {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(158.17deg, rgba(179, 185, 255, 0.36) 15.74%, rgba(113, 124, 237, 0.36) 93.63%), url('../img/background.svg');
  //filter: blur(7px);
  //-webkit-filter: blur(7px);
  background-size: cover, cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.teaser__item {
  @include width(330, $teaser-main-scaler);
  @include min-height(330, $teaser-main-scaler);
  @include max-height(330, $teaser-main-scaler);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: RelativeUnits(60, $teaser-main-scaler) RelativeUnits(60, $teaser-main-scaler);
  text-align: center;
  background: rgba(255, 255, 255, 0.38);
  border-radius: RelativeUnits(10, $teaser-main-scaler);

  .toggler-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      @include width(70, $teaser-main-scaler);
      height: RelativeUnits(28, $teaser-main-scaler);
      background: #ECECEC;
      @include border-radius(28);
      overflow: hidden;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    }
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ECECEC;
      -webkit-transition: .4s;
      transition: .4s;
      &:before {
        position: absolute;
        content: "";
        @include width(28.5, $teaser-main-scaler);
        height: RelativeUnits(28.5, $teaser-main-scaler);
        @include border-radius(28.5);
        left: 0;
        bottom: 0;
        background-color: #26C6DA;
        -webkit-transition: .4s;
        transition: .4s;
      }
    }

    input:checked + .slider:before {
      background-color: #D81B60;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(RelativeUnits(42, $teaser-main-scaler));
      -ms-transform: translateX(RelativeUnits(42, $teaser-main-scaler));
      transform: translateX(RelativeUnits(42, $teaser-main-scaler));
    }
  }

  //backdrop-filter: blur(45px);
}
